body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242f9d;
    color: #333;
}

h2{
    color: white;
    text-align: center;
}

header {
    background-color: #000481;
    color: white;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

header h1 {
    margin: 0 auto;
    font-size: 20px;
}

header button {
    background-color: white;
    color: #0c0073;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-weight: bold;
}

header button:hover{
    background-color: rgb(203, 203, 255);
}

header div {
    display: flex;
    align-items: center;
}

main {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0006ae;
}

main ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main li {
    background-color: white;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 5, 77, 0.384);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main .nome {
    font-weight: bold;
    font-size: 1.1em;
}

main .cpf {
    color: #888;
}

main .data {
    font-style: italic;
    color: #666;
}

.campo, .horarios {
    margin-bottom: 15px;
}

.campo label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.campo input, .campo select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.horarios h2 {
    margin-bottom: 10px;
}

.horario {
    margin-bottom: 10px;
}

.horario input {
    margin-right: 10px;
}

.agendar {
    background-color: #0006ae;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.agendar strong a{
    color: white;
}

.agendar:hover {
    transform: scale(1.01);
    background-color: #2125a9;
    transition-duration: 1s;
}

.voltar{
    font-size: small; margin-left: 20px;
    text-decoration: none;
}

.sair{
    font-size: small; margin-left: 20px;
    text-decoration: none;
}

nav {
    background-color: #000481;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a:hover {
    background-color: #0800ff43;
    border-radius: 3px;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
}

.barra {
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    width: 400px;
    width: auto;
    border-radius: 7px;
    padding: 5px 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s;
}

.barra li {
    margin: 0 auto;
    font-size: 1.2em;
}

.success-message {
    text-align: center;
    color: white;
    background-color: #0099ff;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-nav{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.rinnegan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    gap: 163px;
    font-weight: bold;
    color: blue;
}

.rinnegan div {
    list-style-type: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.rinnegan div:hover{
    transform: scale(1.1);
    transition-duration: 0.20s;
}

.rinnegan a {
    text-decoration: none;
    color: black;
}

.barras-menu aside ul li{
    font-weight: bold;
    font-size: 1em;
    position: relative;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 36, 0.462);
}

.barras-menu aside ul li:hover{
    transform: scale(1.02);
    transition-duration: 0.15s;
}

.img-centro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-cadastro h2{
    text-align: center;
}

.finalizar-paciente{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.finalizar-paciente button a {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #0006ae;
    margin: 0px;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.finalizar-paciente button {
    margin: 0;
    padding: 0;
    border: none; 
    background: none;
    display: flex;
}

.finalizar-paciente button:hover{
    transform: scale(1.03);
}

.select-pacientes li{
    box-shadow: 2px 2px 2px 2px rgba(0, 5, 77, 0.384);
}

.select-pacientes li:hover{
    transform: scale(1.02);
    transition-duration: 0.09s;
}

.h2-informs-gerais{
    font-size: 200%;
}

.main-index8{
    width: 50%;
    height: auto;
}

.main-index8 li{
    text-align: center;
    font-size: 110%;
    font-weight: 700;
    margin: 1em 1em 1em 1em;
}

.main-index8 span{
    background-color: rgb(0, 0, 143);
    font-weight: bold;
    border-radius: 7px;
    padding: 5px 0px 5px 0px;
    color: white;
    text-decoration: none;
    margin: 1px 1px 1px 1px;
}

.main-index8 ul a {
    width: 24%;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: blue;
    margin: 0;
    color: white;
    font-weight: bold;
    margin: 1em 1em 1em 1em;
    display: flex;
    text-align: center;
    align-items: center;
}

.main-index8 a:hover {
    background-color: rgb(0, 0, 143);
    transform: scale(1.1);
    transition-duration: 0.09s;
    text-align: center;
    display: flex;
    transition-duration: 0.20s;
}


.main-index8 abbr{
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    width: 50%;
}

.main-index8 .group-info{
    display: flex;
    flex-wrap: wrap;
}




